body {
	display: flex;
	justify-content: center;	
    align-items: center;
	height: 95vh;
	box-sizing: border-box;
	background: rgb(253,23,150);
	background: radial-gradient(circle, rgba(253,23,150,1) 0%, rgba(34,58,96,1) 71%, rgba(56,7,43,1) 100%);
}

.album-container {
	height: 70vh;
    margin-top: -40px;
}

.album-cover {	
	height: 100%;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.8); 
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.8);
}

.player {
	display: block;
	width: 100%;
    min-width: 229px;
    height: 25px;
    margin-top: 10px;
	border-radius: 10px;
}

@media ( min-width: 768px ) {
	.album-cover {
		
	}
}
